.SignUpTable {
    width: 100%;
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
}

.head {
    border: 1px solid black;
    background-color: #F6F6F6;
    padding: 10px;
}

.req {
    color: red;
    font-weight: bold;
}

.divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

td {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border: 1px solid black;
    padding-right: 50px;
}

.alignBox {
    text-align: center;
}
.functionBox {
    display:inline-block;
}
.signUp {
    background-color: #F7FBFE;
    border-color:#DCE3E7;
    margin: 20px;
}
.annotation {
    text-align:right;
}
.annotationText {
    display: inline-block;
}